sca4j/modules/tags/sca4j-modules-parent-pom-0.9.8/extension/other/sca4j-bpel-engine-lightweight/src/test/resources/shipping.wsdl

<?xml version="1.0"?>
<definitions name="Shipping" 
             targetNamespace="http://shipping.bpel.tests.sca4j.org"
             xmlns:tns="http://shipping.bpel.tests.sca4j.org"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
       <schema targetNamespace="http://shipping.bpel.tests.sca4j.org" xmlns="http://www.w3.org/2001/XMLSchema">         
            <complexType name="ShippingRequest">
                <sequence>
                    <element name="itemCode" type="string"/>
                    <element name="shippingAddress" type="string"/>
                </sequence>
            </complexType>
            <element name="shippingRequest" type="tns:ShippingRequest" />
            <element name="shippingResponse" type="dateTime" />
       </schema>
    </types>

    <message name="ShipRequest">
        <part name="request" element="tns:shippingRequest"/>
    </message>

    <message name="ShipResponse">
        <part name="response" element="tns:shippingResponse"/>
    </message>

    <portType name="ShippingPortType">
        <operation name="ship">
           <input message="tns:ShipRequest"/>
           <output message="tns:ShipResponse"/>
        </operation>
    </portType>

    <binding name="ShippingSoapBinding" type="tns:ShippingPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="ship">
           <soap:operation soapAction="http://example.com/ship" />
           <input>
               <soap:body use="literal"/>
           </input>
           <output>
               <soap:body use="literal"/>
           </output>
        </operation>
    </binding>

    <service name="ShippingService">
        <port name="ShippingPort" binding="tns:ShippingSoapBinding">
           <soap:address location="http://example.com/shipping"/>
        </port>
    </service>
    
    <plnk:partnerLinkType name="ShippingPartnerLink">
        <plnk:role name="shippingService" portType="tns:ShippingPortType" />
    </plnk:partnerLinkType>

</definitions>